.container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.info{
    display: fixed;
    background-color: #ffffff;
    width: 50%;
    height:fit-content;
    width: 30%;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgb(20, 20, 20);
}
.info h1 {
    padding: 4px;
    text-align: center;
    border: 3px solid rgb(88, 86, 86);
}

.info img {
    border: 1px solid  black;
    width: 100%;
    object-fit: cover ;
}
.main {
    border-left: 6px solid white;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main p{
    font-size: 2rem;
}
h2 {
    display: inline;
}

.friends{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    margin: 0;
    width: 100%;
    font-size: 20px;
    border-radius: 6px;
    border: none ;
    box-shadow: 0 2px 5px black;
    background-color: purple;
    color: white;
}
.cont{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}